#{extends 'template.html' /}

<h1>This is a test page.</h1>

<ul id="menu">
    #{featureflags.feature 'sampleMenu1'}
    <li id="sampleMenu1">Menu Item 1</li>
    #{/featureflags.feature}

    #{featureflags.feature 'sampleMenu2'}
    <li id="sampleMenu2">Menu Item 2</li>
    #{/featureflags.feature}

    #{featureflags.feature 'sampleMenu3'}
    <li id="sampleMenu3">Menu Item 3</li>
    #{/featureflags.feature}

    #{featureflags.feature 'sampleMenu4'}
    <li id="sampleMenu4">Menu Item 4</li>
    #{/featureflags.feature}
</ul>
    