#{extends 'template.html' /}

<h1>Table of Contents</h1>
<ul>
    <li><a href="#documentationH1">Documentation</a></li>
    <li><a href="#demoH1">Demo</a></li>
</ul>

<hr/>

<h1 id="documentationH1">Documentation</h1>
<p>
    Welcome to the demo app for the flags and flippers play module.<br/>
    This app also serves as the module test suite, so when in doubt about how things work, you could also have a
    look at the <a href="@tests">tests</a>.
</p>

<h2>Introduction</h2>
<p>
    A Feature is any piece of functionality in your application that you want to be able to
    switch on and off at runtime.
</p>
<p class="todo">TODO</p>


<h2>Defining Features</h2>
<p>
    Features are defined by name.
    You can (and should) define features in two ways:</p>
<ul>
    <li>by using the <strong>feature tag</strong> in your views, to hide certain elements (menu items, side bars, divs,
        form fields, ...) in
        your pages.
    </li>
    <li>by using the <strong>@Feature annotation </strong> on your controller classes or methods. This will ensure that
        whenever an action of a turned-off feature is invoked, a 404 Not Found is returned. This is important so that
        features are not available, even if it is turned off at the view level.
    </li>

</ul>


<h4>Tagged Views</h4>
<p>In order to hide certain elements of your application, you can use the feature tag, like this: </p>
<pre class="code">
&#35;{featureflags.feature 'featureName'}
    ... feature content goes here ... 
&#35;{/featureflags.feature}
</pre>


<h4>Annotated Controllers</h4>
<p>Of course, just hiding parts of your app is not enough to switch a feature off. You should also protect your
    controllers, so that the whole action is unavailable when a feature is turned off. </p>
<p>To define features at controller level, you need to annotate your controller methods or classes with
<pre class="code">@Feature("featureName")</pre>


<p>What happens is this: </p>
<ol>
    <li>By clicking on the link, you invoke the controller.</li>
    <li>The Features plugin will pick up the annotation, and check if the feature is defined in the db.</li>
    <li>Since you just started the application, the feature is not defined. The module will create a new feature record
        in the db, and disable the feature.
    </li>
    <li>A 404 is returned.</li>
    <li>As of now, the feature is known in the database, so you open up the <a href="/admin/features">admin page</a>,
        and turn the feature on
    </li>
    <li>You can verify that the feature is turned on, by clicking again on the link.</li>
</ol>


<ul>
    <li>
        <a href="@{ClassLevelAnnotatedController.method1}">method 1 on ClassLevelAnnotatedController</a>
    </li>
    <li>
        <a href="@{ClassLevelAnnotatedController.method2}">method 2 on ClassLevelAnnotatedController</a>
    </li>
    <li>
        <a href="@{MethodLevelAnnotatedController.method1}">method 1 on MethodLevelAnnotatedController</a>
    </li>
    <li>
        <a href="@{MethodLevelAnnotatedController.method2}">method 2 on MethodLevelAnnotatedController</a>
    </li>
</ul>


<h2>The Admin page</h2>
<p>You can view the admin page under <a href="/admin/features">/admin/features</a>.</p>


<hr/>

<h1 id="demoH1">Demo</h1>

<h2>Define features at view level: A simple menu</h2>
<p>A common use case is to define features on menu items, by wrapping them in a tag. <br/>
    In the example below, there are 4 menu items, each with their own feature tag ('menu1' to 'menu4').
    You can open up the <a href="/admin/features" target="_blank">admin page</a> to switch them on and off, and then
    reload this page to see the result.
</p>

<table>
    <thead>
    <tr>
        <th>Demo</th>
        <th>Source</th>
    </tr>

    </thead>
    <tr>
        <td>
            <ul id="menu">
                #{featureflags.feature 'sampleMenu1'}
                <li id="sampleMenu1">Menu Item 1</li>
                #{/featureflags.feature}

                #{featureflags.feature 'sampleMenu2'}
                <li id="sampleMenu2">Menu Item 2</li>
                #{/featureflags.feature}

                #{featureflags.feature 'sampleMenu3'}
                <li id="sampleMenu3">Menu Item 3</li>
                #{/featureflags.feature}

                #{featureflags.feature 'sampleMenu4'}
                <li id="sampleMenu4">Menu Item 4</li>
                #{/featureflags.feature}
            </ul>
        </td>
        <td class="code">
            <pre>
&lt;ul id="menu"&gt;

        &#35;{featureflags.feature 'sampleMenu1'}
                &lt;li&gt;Menu Item 1&lt;/li&gt;
        &#35;{/featureflags.feature}

        &#35;{featureflags.feature 'sampleMenu2'}
            &lt;li&gt;Menu Item 1&lt;/li&gt;
        &#35;{/featureflags.feature}

        &#35;{featureflags.feature 'sampleMenu3'}
                &lt;li&gt;Menu Item 1&lt;/li&gt;
        &#35;{/featureflags.feature}

        &#35;{featureflags.feature 'sampleMenu4'}
            &lt;li&gt;Menu Item 1&lt;/li&gt;
        &#35;{/featureflags.feature}
                
&lt;/ul&gt;
            </pre>
        </td>
    </tr>
</table>


<h2>Define Features at controller level: A simple link</h2>
<p>The link below leads to a page that is rendered by an annotated controller. If you just started up the
    application, there will be not features defined in the database, so clicking on the link will take you to the
    404 Not Found page. This is because features are turned off by default.<br/>
    If you go to the <a href="/admin/features" target="_blank">admin page</a> and turn the 'simpleExample' feature on,
    you'll be able open up the page behind route <span class="code">@{SimpleExampleController.showPage}</span>

</p>
<a href="@{SimpleExampleController.showPage}">@{SimpleExampleController.showPage}</a>